@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.cart-page{
    width: 95%;
    height:calc(100vh - 61px);
    /* border:1px solid red; */
    display: flex;
}
.cart-title{
    font-family: "Raleway", serif;
}

.left-container{
    width:70%;
    /* border:1px solid blue; */
    height: calc(100vh - 63px);
}
.product-container{
    display: flex;
    /* justify-content: center; */
}

.cart-page-outer{
    /* background-color: rgb(231, 233, 233); */
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.scrollable-container{
    overflow: scroll;

}
.scrollable-container::-webkit-scrollbar{
    display: none;
}